*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
 body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff ;
 }

.navbar{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 5px 5px;
    box-shadow: 8px 2px 10px gray;
    margin-bottom: 15px;

}
.navbar_brand{
    width: 100px;
}

.navbar_logo{
    width: 100%;
}
.nav_item,.hero_button{
    background-image: linear-gradient(to right, #ff512f 0%,#dd2476 51% ,#ff512f 100%);
    color: white;
    border:none;
    padding: 10px;
    cursor:grab;
    border-radius: 5px;

}
.nav_item:hover {
    border: 2px solid  tomato;
}
.container{
    width: 100%;
    padding: 5px 20px;
}
.hero_container{

}

.hero_container_text{
    font-size: 15px;
}
.hero_image_container{
    width: 100%;
}
.image{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 50px -12px rgba(0, 0,0, 0.25)
}



.em_text{
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}



.food_image{
    width: 100%;
    border-radius: 15px;
}
 .burger_image,.pizza_image,.icecream_image{
     width: 100%;
     border-radius: 8px 8px 0 0 ;
     
 }
 
 

 .food_card{
     background-color: white;
     border-radius: 8px;
     margin-bottom: 15px;
     box-shadow: 0 5px 50px -12px rgba(0, 0,0, 0.25);
 }

 .rest_images_text{
     margin-bottom: 20px;
     font-size: 15px;
     margin-top: 40px;
 }
 .images_rest{
     display:flex;
     flex-direction: column;
 }
 .top{
     display: flex;
     align-items: baseline;
     gap: 5px;
 }

 .bottom{
     display: flex;
     gap: 5px;
 }

 .image1,.image4{
     width:100%;
    
 }
 .image2,.image3{
     width: 120%;
    
 }

 .images1,.images2,.images3,.images4{
     width: 100%;
     border-radius: 7px;
     box-shadow: 0 5px 50px -12px rgba(0, 0,0, 0.25);
 }
 .update_entry{
     display: flex;
     gap: 15px;
 }
.updates_field{
    border-color:hotpink;
    border-radius: 8px;
    width: 40%;
}

.update_button{
    background-image: linear-gradient(to right, #ff512f 0%,#dd2476 51% ,#ff512f 100%);
    color: white;
    border:none;
    padding: 10px;
    cursor:grab;
    border-radius: 5px;
    width: 40%;
}
 .updates_text{
     font-size: 20px;
     margin-top: 20px;
     margin-bottom: 20px;   
 }
 
 













@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        height: 80px;
    }
    .navbar_brand{
        width: 150px;
    }
    .nav_item{
        padding: 15px;
        font-size: 15px;
    }
    .hero_container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 50px;
    }

    .explore_menu_cards{
        display: flex;
        gap: 15px;
        height: 60%;
    }
    .pizza_card{
        margin-top: -15px;
        margin-bottom: 15px;
    }
    .em_text{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .explore_bg{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #ff512f 0%,#dd2476 51% ,#ff512f 100%);
        z-index: -3;
        transform: skewY(-5deg);
        border-radius: 8px;

    }
    .explore_menu_container{
        position: relative;
    }

}

