*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
 body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff ;
 }

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px 10px;



}
.navbar_brand{
    width: 100px;
}

.navbar_logo{
    width: 100%;
}
.nav_item{
    background-image: linear-gradient(to right, #ff512f 0%,#dd2476 51% ,#ff512f 100%);
    color: white;
    border:none;
    padding: 10px;
    cursor:grab;

}
.nav_item:hover {
    border: 2px solid  tomato;
}

@media(min-width:768px){
    .navbar{
        justify-content: space-between;
    }
    .navbar_brand{
        width: 150px;
    }
    .nav_item{
        padding: 15px;
        font-size: 15px;
    }
}